/**
 * Created by army8735 on 2017/9/21.
 */

@import '../common/var.less';
@import '../component/hotwork/index.less';
@import '../component/hotcollection/index.less';
@import '../component/hotauthor/index.less';
@import '../component/doublecheck/index.less';
@import '../component/playlist/index.less';

.find{
  > .banner{
    position:relative;
    height:3rem;
    overflow:hidden;
    img{
      display:block;
      width:100%;
      height:3rem;
      border-radius:0.1rem;
    }
  }
  > .cp-hotwork{
    margin-top:0.2rem;
  }
  > .cp-collection{
    margin-top:0.2rem;
  }
  > .cp-hotauthor{
    margin-top:0.2rem;
    .list li .info{
      display:none;
    }
  }
  > .cp-playlist{
    margin-bottom:0.2rem;
  }
}
