/**
 * Created by army8735 on 2017/9/21.
 */

@import '../component/doublecheck/index.less';
@import '../component/playlist/index.less';

.find{
  > .banner{
    position:relative;
    height:3.2rem;
    background:url(//zhuanquan.xyz/img/bd693bf3d723a51e7ac05d9adef99271.png) no-repeat center;
    background-size:cover;
    color:#fff;
    font-size:0.16rem;
    pre{
      position:absolute;
      left:0.1rem;
      bottom:0.1rem;
      right:0.1rem;
      margin:0;
      padding:0;
    }
  }
}
